
<div class="post-container">
    <div class="post-header">
        <h2>{{post.title}}</h2>
        <p>Posted by {{post.username}} on {{post.date}}</p>
    </div>
    <p>{{post.content}}</p>
</div>
{{#each comments as |comment|}}
<div class="post-container">
    <p>{{comment.username}} - {{comment.date}}</p>
    <p>{{comment.content}}</p>
</div>
{{/each}}

<button id="new-comment-button" class="comment-button">+ New Comment</button>

<div id="new-comment" class="post-container">
    <p>New Comment:</p>
    <textarea id="new-comment-text"></textarea>
    <button id="submit-comment" class="comment-button">Submit</button>
</div>

<div id="post-data" class="{{post.id}}" style="display:none"></div>

<script src="/js/comment.js"></script>